<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">	
			<%= link_to_function "| Homepage", "useCase.showHomePage()", id: "logo" %>
			<%= link_to_function "| Categories", "useCase.showAllCategories()", id: "logo" %>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">			
			<div class="cart-small">
				<h4>Current content of your cart:</h4>
				<div id="cart-small"></div>
				<a href="#" onclick="useCase.showCart()">
					Full content of the cart.
				</a>
			</div>
			<br>

			<h3>Search:</h3>
			<form name="myform" action="" method="GET">
				<label for="q_title_cont">Title: </label>
				<input id="q_title_cont" name="title_cont" size="30" style="width:130px" type="text" />
			
				<label for="q_author_cont">Description:</label>
				<input id="q_description_cont" name="description_cont" size="30" style="width:130px" type="text" />

				<label for="q_author_cont">Author:</label>
				<input id="q_author_cont" name="author_cont" size="30" style="width:130px" type="text" />
			
				<label for="q_price_gteq">Price from:</label>
				<input id="q_price_gteq" name="price_gteq" size="30" style="width:130px" type="text" />
			
				<label for="q_price_lteq">to:</label>
				<input id="q_price_lteq" name="price_lteq" size="30" style="width:130px" type="text" />
				<br>	
				<input type="button" name="button" value="Search" onClick="useCase.search(this.form)">
				</form>
			</form>


		</div>
		<div class="span9">
			<div id="home-page"></div>
			<div id="categories"></div>
			<div id="category"></div>
			<div id="product"></div>
			<div id="cart-full"></div>
			<div id="confirm-order"></div>
			<div id="buyers-data"></div>
			<div id="search-result"></div>			
		</div>
	</div>
</div>	
<%= render 'layouts/footer' %>	




<!-- scripts - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<script type="x-handlebars-template" id="home-page-template">
	<h1> Welcome! </h1>	
	<ul class="products_list">
	{{#each products}}
		<li>
			{{ this.author }}
			<a href="#" onclick={{ this.function_name }}>
				{{ this.title }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="categories-template">
	<h1> All categories </h1>
	<ul class="categories_list">
	{{#each categories}}
		<li>
			<a href="#" onclick={{ this.function_name }}>
				{{ this.name }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="category-template">
	<h1> {{ category }} </h1>
	<ul class="products_list">
	{{#each products}}
		<li>
			{{ this.author }}
			<a href="#" onclick={{ this.function_name }}>
				{{ this.title }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="product-template">
	<h1> {{ title }} </h1>
	<div> 
		Author: {{ author }} <br>
		Price: {{ price }} <br>
		Description: {{ description }}
	</div>
	<a href="#" onclick={{ function_add_to_cart }}>
		Add product to cart
	</a> <br>
	<a href="#" onclick={{ function_go_back }}>
		Go to {{ category }}
	</a>
</script>

<script type="x-handlebars-template" id="cart-full-template">
	<h1> Your cart </h1>
	<center>
	{{#if hasAccount}}
		Hello {{ firstName }}<br>
	{{else}}
		You dont have an account yet!<br>
	{{/if}}
	{{#if empty}}
		Your cart is empty! <br>
	{{else}}
		List of items in your cart: <br>
		<table border="1" cellpadding="6">
			<tr align="center">
				<td>Author</td>
				<td>Title</td>
				<td>Quantity</td>
				<td>Price for one</td>
				<td>Price for all</td>
			</tr>
			{{#each orderItems}}
				<tr align="center">
					<td>{{ this.author }}</td>
					<td>
						<a href="#" onclick={{ this.function_show }}>
							{{ this.title }}
						</a>	
					</td>
					<td>{{ this.quantity }}</td>
					<td>{{ this.price }}</td>
					<td>{{ this.total_price }}</td>
					<td>
						<a href="#" onclick={{ this.function_remove }}>
							remove from the cart
						</a>	
					</td>
				</tr>
			{{/each}}
		</table>
	{{/if}}
	<br>
	<a href="#" class="btn btn-large btn-primary" onClick="useCase.confirmOrder()">
		Confirm order.
	</a>
	<a href="#" class="btn btn-large btn-primary" onClick={{ goBackFunction }}>
		Continue shopping.
	</a>
	</center>	
</script>

<script type="x-handlebars-template" id="cart-small-template">
	{{#if empty}}
		Your cart is empty!.<br>
	{{else}}
		<table border="1" cellpadding="6">
			<tr align="center">
				<td>Title</td>
				<td>Quantity</td>
			</tr>
			{{#each orderItems}}
				<tr align="center">
					<td>
						<a href="#" onclick={{ this.function_show }}>
							{{ this.title }}
						</a>	
					</td>
					<td>{{ this.quantity }}</td>
					<td>
						<a href="#" onclick={{ this.function_remove }}>
							remove from the cart
						</a>	
					</td>
				</tr>
			{{/each}}
		</table>
	{{/if}}
</script>

<script type="x-handlebars-template" id="confirm-order-template">
	<h1>Order confirmed!</h1>
	Your personal data:<br>
	First name: {{ firstName }} <br>
	Second name: {{ secondName }} <br>
	Street: {{ street }} <br>
	City: {{ city }} <br><br>
	<a href="#" class="btn btn-large btn-primary" onClick="useCase.showHomePage()">
		Go back to home page.
	</a>
</script>

<script type="x-handlebars-template" id="get-buyers-data-template">
	You dont have an account, type in your personal data: <br>
	<form name="myform" action="" method="GET">
	<label>First name</label>
	<input type="text" name="firstName" value=""><p>
	<label>Second name</label>
	<input type="text" name="secondName" value=""><p>
	<label>Street</label>
	<input type="text" name="street" value=""><p>
	<label>City</label>
	<input type="text" name="city" value=""><p>
	<input type="button" name="button" value="Click" onClick="useCase.saveBuyerPersonalData(this.form)">
	</form>
</script>

<script type="x-handlebars-template" id="search-result-template">
	<h1> Search results </h1>	
	<ul class="products_list">
	{{#each products}}
		<li>
			{{ this.author }}
			<a href="#" onclick={{ this.function_name }}>
				{{ this.title }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>
