<div id="product-view"></div>
<div id="button"></div>
<h1 id="main-header"></h1> 
<ul id="items-list"></ul>

<script type="x-handlebars-template" id="header-template">
	{{ content }}
</script>

<script type="x-handlebars-template" id="items-template">
	<li>
		{{#if product }}
			<button type="button" onclick={{ function_name }}>
				{{ author }}, {{ title }}, {{ id }}
			</button>
		{{/if}}
		{{#if category }}
			<button type="button" onclick={{ function_name }}>{{ name }}</button>
		{{/if}}
	</li>
</script>

<script type="x-handlebars-template" id="button-template">
	<button type="button" onclick={{ function_name }}>{{ content }}</button>
</script>

<script type="x-handlebars-template" id="product-template">
	Autor: {{ author }} <br>
	Tytul: {{ title }} <br>
	Cena: {{ price }} <br>
</script>
