<h1 id="main-header"></h1> 
<ul id="products-list"></ul>
<ul id="categories-list"></ul>

<script type="x-handlebars-template" id="header-template">
	{{ content }}
</script>

<script type="x-handlebars-template" id="products-template">
	<li>
	   	<label>{{ author }}</label> {{ title }}	
   	</li>
</script>

<script type="x-handlebars-template" id="categories-template">
	<li>
	   	<label>{{ name }}</label>
   	</li>
</script>
