<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">	
			<%= link_to_function "| Strona główna", "useCase.showHomePage()", id: "logo" %>
			<%= link_to_function "| Kategorie", "useCase.showAllCategories()", id: "logo" %>
		</div>
	</div>
</header>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">			
			<%= render 'layouts/search-small-menu' %>

			<div class="cart-small">
				<h4>Aktualna zawartość koszyka:</h4>
				<div id="cart-small"></div>
				<a href="#" onclick="useCase.showCart()">
					Full content of the cart.
				</a>
			</div>

		</div>
		<div class="span10">
			<div id="home-page"></div>
			<div id="categories"></div>
			<div id="category"></div>
			<div id="product"></div>
			<div id="cart-full"></div>
			<div id="confirm-order"></div>
			<div id="buyers-data"></div>
		</div>
	</div>
</div>	
<%= render 'layouts/footer' %>	




<!-- scripts - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<script type="x-handlebars-template" id="home-page-template">
	<h1> Welcome! </h1>	
	<ul class="products_list">
	{{#each products}}
		<li>
			{{ this.author }}
			<a href="#" onclick={{ this.function_name }}>
				{{ this.title }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="categories-template">
	<h1> Lista wszystkich kategorii </h1>
	<ul class="categories_list">
	{{#each categories}}
		<li>
			<a href="#" onclick={{ this.function_name }}>
				{{ this.name }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="category-template">
	<h1> {{ category }} </h1>
	<ul class="products_list">
	{{#each products}}
		<li>
			{{ this.author }}
			<a href="#" onclick={{ this.function_name }}>
				{{ this.title }}
			</a>
		</li>
	{{/each}}
	</ul>
</script>

<script type="x-handlebars-template" id="product-template">
	<h1> {{ title }} </h1>
	<div> 
		Author: {{ author }} <br>
		Price: {{ price }} <br>
		Description: {{ description }}
	</div>
	<a href="#" onclick={{ function_add_to_cart }}>
		Add product to cart
	</a> <br>
	<a href="#" onclick={{ function_go_back }}>
		Go to {{ category }}
	</a>
</script>

<script type="x-handlebars-template" id="cart-full-template">
	<h1> Twój koszyk </h1>
	<center>
	{{#if hasAccount}}
		Witaj {{ firstName }}<br>
	{{else}}
		Nie masz jeszcze konta w moim sklepie!<br>
	{{/if}}
	{{#if empty}}
		Twój koszyk jest pusty! <br>
	{{else}}
		Lista rzeczy w Twoim koszyku: <br>
		<table border="1" cellpadding="6">
			<tr align="center">
				<td>Autor</td>
				<td>Tytuł</td>
				<td>Ilość</td>
				<td>cena za sztuke</td>
				<td>cena w sumie</td>
			</tr>
			{{#each orderItems}}
				<tr align="center">
					<td>{{ this.author }}</td>
					<td>
						<a href="#" onclick={{ this.function_show }}>
							{{ this.title }}
						</a>	
					</td>
					<td>{{ this.quantity }}</td>
					<td>{{ this.price }}</td>
					<td>{{ this.total_price }}</td>
					<td>
						<a href="#" onclick={{ this.function_remove }}>
							usun z koszyka
						</a>	
					</td>
				</tr>
			{{/each}}
		</table>
	{{/if}}
	<br>
	<a href="#" class="btn btn-large btn-primary" onClick="useCase.getBuyersPersonalData()">
		Potwierdz zamowienie
	</a>
	</center>	

</script>

<script type="x-handlebars-template" id="confirm-order-template">

</script>

<script type="x-handlebars-template" id="buyers-data-template">
	{{#if hasAccount}}
		{{ firstName }} <br>
		{{ secondName }} <br>
		{{ street }} <br>
		{{ city }} <br>
	{{else}}
		Nie masz konta, podaj dane do zamówienia: <br>
		<form name="myform" action="" method="GET">Enter something in the box: <br>
		<input type="text" name="firstName" value=""><p>
		<input type="text" name="secondName" value=""><p>
		<input type="text" name="street" value=""><p>
		<input type="text" name="city" value=""><p>
		<input type="button" name="button" value="Click" onClick="useCase.saveBuyerPersonalData(this.form)">
		</form>
	{{/if}}
</script>