<h1> Witam w moim sklepie! </h1>
<center>
sklep internetowy <br>
<%= link_to "Przejrzyj kategorie", categories_path %> 
</center>

<h2> Lista wszystkich produktów </h2>
<center>
<% @products.each do |product| %>
	<li>
		<%= product.author %>, 
		<%= link_to product.title, product %>, 
		<% if product.category == nil %>
			brak kategorii
		<% else %>
			<%= link_to product.category.name, product.category %>
		<% end %>	
	</li>
<% end %>
</center>