<h1> Twój koszyk </h1>

<center>

<% if @buyer.hasAccount? == true %>
	Witaj <%= @buyer.firstName %>!<br>
<% else %>
	Nie masz jeszcze konta w moim sklepie!<br>
<% end %>

	Koszyk utworzono: <%= @order.created_at %>


</center>