<h1><%= @category.name %></h1>

<center>


	<div class="span6" style="text-align:right">
	    <% @products.each do |product| %>
			<span style="color:#999; font-size:1em">
				<%= product.author %>
			</span> <br/>
	    <% end %>
    </div>

    <div class="span6" style="text-align:left">
	    <% @products.each do |product| %>
		    <span style="font-size:1em";>
				<%= link_to product.title, product %>
		    </span> <br/>
	    <% end %>
    </div>

	
	<%= link_to "Back to categories", "/categories"%>

</center>