<h1> Panel administratora </h1>

<center>
<%= link_to "Edytuj kategorie", admin_categories_path %> <br>
<%= link_to "Edytuj produkty", admin_products_path %> <br>
<%= link_to "Przejżyj zamówienia", admin_orders_path %>
</center>