<ul id="products-list"></ul>

<script type="x-handlebars-template" id="products-template">
   	<li>
   		<label>{{ author }}</label>
   		{{ title }]
	</li>
</script>


<div class="hello"></div>

<script id="some-template" type="text/x-handlebars-template">

    <h1> Witaj {{name}}! </h1>

</script>